<div id="connecting" class="msg">
    <i class="fa-icon-spinner2 icon-spin"></i>
    <%= i18n.connectingToServer %>
</div>

<div id="reset-box" class="system-box hidden">
    <form class="reset-form" method="post" action="" class="no-margin">
        <div class="box-header">
            <h2><%= i18n.resetPassword %></h2>
        </div>
        <div class="box-content">
            <div class="control-group">
                <label class="control-label"><%= i18n.passForEnter %></label>
                <input type="password" class="input-block-level" name="password" value="" maxlength="50" autocomplete="off">
            </div><div class="control-group no-margin">
                <label class="control-label"><%= i18n.repeatPassForEnter %></label>
                <input type="password" class="input-block-level" name="passwordRepeat" value="" maxlength="50" autocomplete="off">
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-block btn-primary" type="submit"><%= i18n.saveAndSignIn %></button>
        </div>
    </form>
    <div class="app-stores-list">
        <a href="https://play.google.com/store/apps/details?id=org.apache.cordova.GeoritmMobileFree" target="_blank" class="app-store-item android"></a>
        <a href="https://itunes.apple.com/us/app/georitm/id1166967285?l=ru&amp;ls=1&amp;mt=8" target="_blank" class="app-store-item ios"></a>
    </div>
</div>

<!--<div id="processing" class="msg hidden">
    <i class="fa-icon-spinner2 icon-spin"></i>
    TODO processing text
</div>-->

<!--<div id="error" class="hidden">
    <h3></h3>
    <p></p>
</div>-->

<div id="success" class="hidden"></div>

