<!DOCTYPE html>
<html>
<head>
    <title>GeoRITM</title>
    <link rel="manifest" href="/manifest.json"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" type="text/css" href="_common/css/style.css" />

    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="_common/css/ie.css" />
    <![endif]-->
</head>
<body>
<!--[if IE]>
<script type="text/javascript">
    var IE_BROWSER = true;
</script>
<![endif]-->
<!--[if lt IE 10]>
<script type="text/javascript">
    var UNSUPPORTED_BROWSER = true;
</script>
<div id="browser-warning" class="alert alert-block">
    <h4>Внимание!Warning!</h4>
    <p>Вы используете устаревшую версию Internet Explorer.
        Работа сервиса в нем невозможна.<br />
        Пожалуйста обновите браузер: <a href='http://www.microsoft.com/rus/windows/internet-explorer/worldwide-sites.aspx' target='_blank'>http://www.microsoft.com/rus/...ites.aspx</a>.
        Или установите Google плагин для Internet Explorer: <a href='http://www.google.com/chromeframe?quickenable=true' target='_blank'>http://www.google.com/chromeframe</a>.
        Или выберите один из более совершенных браузеров: <a href='http://www.google.com/chrome/eula.html?hl=ru' target='_blank'>Chrome</a>,
        <a href='http://www.mozilla-europe.org/ru/firefox/' target='_blank'>Firefox</a>
    </p><p>You are using old version of Internet Explorer.
        We can not guarantee availability of all our services in Your browser.<br />
        Follow this link for update: <a href='http://www.microsoft.com/rus/windows/internet-explorer/worldwide-sites.aspx' target='_blank'>http://www.microsoft.com/rus/...ites.aspx</a>.
        Or install Google plugin for Internet Explorer: <a href='http://www.google.com/chromeframe?quickenable=true' target='_blank'>http://www.google.com/chromeframe</a>.
        Or select one of the best browsers: <a href='http://www.google.com/chrome/eula.html?hl=ru' target='_blank'>Chrome</a>,
        <a href='http://www.mozilla-europe.org/ru/firefox/' target='_blank'>Firefox</a>
    </p>
</div>
<![endif]-->
#svgicons#
<div id="outer">

    <header id="main-hdr" class="navbar navbar-inverse">
        <div class="navbar-inner">
            <h1 class="brand"></h1>
        </div>
    </header>

    <noscript class="alert alert-error">
        Сервис недоступен без JavaScript. Включите выполнение JavaScript-сценариев в настройках браузера.<br />
        This service is not available when JavaScript is turned off. Please turn on JavaScript scenarios in your browser settings.
    </noscript>

    <div id="global-alerts"></div>
    
    <div id="page"></div><!--/page-->

</div>

<div id="jf-place"></div>

<script data-main="_common/main" src="_libs/require/require.js"></script>

</body>
</html>