<div class="actions">
    <a class="hint hint-top svg-icon svg-icon-target icon-target" href="javascript:;" data-hint="<%= i18n.zoomToObject %>"></a>
    <% if(editable) {%>
    <a class="hint hint-top svg-icon svg-icon-cog icon-card" href="javascript:;" data-hint="<%= i18n.openObjectCard %>"></a>
    <% } else { %>
    <a class="hint hint-top svg-icon svg-icon-circle-info icon-card" href="javascript:;" data-hint="<%= i18n.openObjectCard %>"></a>
    <% } %>
    <a class="hint hint-top svg-icon svg-icon-camera icon-video hidden" href="javascript:;" data-hint="<%= i18n.showCamera %>"></a>
    <a class="hint hint-top svg-icon svg-icon-bell icon-alerts" href="javascript:;" data-hint="<%= i18n.objectAlertsAndLog %>"></a>
    <% if(tracks) {%><a class="hint hint-top svg-icon svg-icon-track icon-track" href="#" data-hint="<%= i18n.build.ucFirst() %> <%= i18n.track %>"></a><% } %>
    <% if(reports) {%><a class="hint hint-top svg-icon svg-icon-report icon-report" href="javascript:;" data-hint="<%= i18n.build.ucFirst() %> <%= i18n.report %>"></a><% } %>
    <a class="hint hint-top svg-icon svg-icon-circle-remove icon-close" href="javascript:;" data-hint="<%= i18n.close.ucFirst() %>"></a>
</div>
<h4 data-prop="name" class="name"><%- name %></h4>
