<h5><%= i18n.infoInBaloon %></h5>
<ul>
    <li>
        <label class="checkbox">
            <input type="checkbox" data-prop="extId" checked /> <%= i18n.objIdNumber %>
        </label>
    </li>
    <li>
        <label class="checkbox">
            <input type="checkbox" data-prop="deviceTypeName" checked /> <%= i18n.objHardwareType %>
        </label>
    </li>
    <li>
        <label class="checkbox">
            <input type="checkbox" data-prop="licenseNumber" checked /> <%= i18n.licenseNumber %>
        </label>
    </li>
    <li>
        <label class="checkbox">
            <input type="checkbox" data-prop="address" checked /> <%= i18n.nearest.ucFirst() + ' ' + i18n.address %>
        </label>
    </li>
</ul>