<h3><%= i18n.successHdr %></h3>

<%= i18n.successText %>

<label class="checkbox" style="margin: 20px 0">
    <input type="checkbox" value="1" name="openWizard" checked> <%= i18n.openWithard %>
</label>

<a href="javascript:;" class="btn btn-primary login-link"><%= i18n.goToMonitoring %></a>

<div class="app-stores-list">
    <a href="https://play.google.com/store/apps/details?id=org.apache.cordova.GeoritmMobileFree" target="_blank" class="app-store-item android"></a>
    <a href="https://itunes.apple.com/us/app/georitm/id1166967285?l=ru&amp;ls=1&amp;mt=8" target="_blank" class="app-store-item ios"></a>
</div>