<% _.each(controls, function(c, index){
var isOperatable = controlAllowed && 'undefined' != typeof c.possibleStates && c.possibleStates.length;
%>
<li class="list-group-item indicator control-state"
    data-state="<%= c.state == 1 ? 1 : 0 %>"<% if(isOperatable) {%> data-page="operate" data-index="<%= index %>"<% } %>>
    <svg class="svg-icon list-group-item-icon">
        <use xlink:href="#smb-arrow-circle-left"></use>
    </svg>
    <i class="svg-icon list-group-item-icon svg-icon-spinner icon-spin"></i>
    <% if(isOperatable) {%>
    <svg class="svg-icon more-action">
        <use xlink:href="#smb-chevron-right"></use>
    </svg>
    <% } %>
    <div class="info">
        <h4><%- c.name %></h4>
        <p class="extra"><%= i18n[c.state === null ? 'noData' : ( c.state == 1 ? 'switchedOnShort' : 'switchedOffShort' )].ucFirst() %></p>
        <p class="extra state-loading-extra"><%= i18n.objectStateScan %>...</p>
    </div>
</li>
<% }); %>
