<p class="no-data"><%= i18n.noSensorsAdded %></p>
<table class="table table-condensed hidden">
    <thead>
        <th class="col-sensor-name"><%= i18n.temperatureSensor %></th>
        <th class="col-sensor-zone"><%= i18n.numberZoneSensor %>  </th>
        <th class="col-sensor-last-name"><%= i18n.nameSensor %></th>
        <th class="col-sensor-note"><%= i18n.note %></th>
        <th class="col-icon">&nbsp;</th>
        <th class="col-icon">&nbsp;</th>
        <th class="col-icon">&nbsp;</th>
    </thead>
    <tbody></tbody>
</table>