<div class="subheader">
    <a data-target="summary" class="back" href="#">
        <i class="svg-icon svg-icon-chevron-circle-left"></i>
    </a>
    <h5><%= i18n.policeTranslation %></h5>
</div>
<div class="operate-content">
    <div class="operate-state police" data-state="<%= policeTranslation ? 1 : 0 %>">
        <div class="state-wrap">
            <svg class="svg-icon">
                <use xlink:href="#smb-police"></use>
            </svg>
        </div>
    </div>
    <div class="operate-actions">
        <button class="btn btn-block <%= policeTranslation ? '' : ' btn-primary' %> btn-save-police">
            <%= i18n[policeTranslation ? 'turnOff' : 'turnOn'] %>
        </button>
    </div>
</div>