<table class="l cols-2">
    <tr>
        <td class="col sensors">
            <% _.each([1,2,3,4,5,6], function(i){%>
            <div class="field">
                <label><%= i18n.discretSensor %> <%= i %> (<%= i18n.discret %>)</label>
                <div class="itext"><input type="text" name="D<%= i %>Name" value="<%= settings['D'+i+'Name'] %>" maxlength="255" /></div>
            </div>
            <% }) %>
            <div class="field no-bottom-margin">
                <label style="max-width:180px;padding:0;"><%= i18n.indicateTrackedSensorState %></label>
                <div class="select" style="left:185px"><select name="TRACKED_DSENSOR_INDEX">
                    <option value="null">--</option>
                    <% _.each([1,2,3,4,5,6], function(i){%>
                    <option value="<%= i %>"<% if(settings.TRACKED_DSENSOR_INDEX == i) {%> selected="selected"<% } %>><%= i18n.discretSensor %> <%= i %> (<%= i18n.discret %>)</option>
                    <% }) %>
                </select></div>
            </div>

        </td>
        <td class="col sensors">
            <% _.each([1,2], function(i){%>
            <div class="field">
                <label><%= i18n.analogueSensor %> <%= i %> (<%= i18n.analogue %>)</label>
                <div class="itext"><input type="text" name="AN_NAME<%= i %>" value="<%= settings['AN_NAME'+i] %>" maxlength="255" /></div>
            </div>
            <% }) %>
            <!-- controlling enters called "exits" -->
            <% _.each([1,2], function(i){%>
            <div class="field">
                <label><%= i18n.deviceOut %> <%= i %></label>
                <div class="itext"><input type="text" name="C<%= i %>Name" value="<%= settings['C'+i+'Name'] %>" maxlength="255" /></div>
            </div>
            <% }) %>

            <div class="field">
                <label><%= i18n.temperatureSensor %> (<%= i18n.external %>)</label>
                <div class="itext"><input type="text" name="tempDetector" value="<%= settings['tempDetector'] %>" maxlength="255" /></div>
            </div>

            <!--
            <div class="field">
                <label><%= i18n.power.ucFirst() %></label>
                <div class="itext"><input type="text" name="POWER_NAME" value="<%- settings.POWER_NAME %>" maxlength="255" /></div>
            </div>
            -->
        </td>
    </tr>
</table>

