<div class="field">
    <label><%= i18n.oldPassword %></label>
    <input class="input-block-level" type="password" name="oldPassword"
           value="" autocomplete="off" autocorrect="off" maxlength="50">
</div>
<div class="field">
    <label><%= i18n.newPassword %></label>
    <input class="input-block-level" type="password" name="password"
           value="" autocomplete="off" autocorrect="off" maxlength="50">
</div>
<div class="field no-margin">
    <label><%= i18n.repeatNewPassword %></label>
    <input class="input-block-level" type="password" name="passwordRepeat"
           value="" autocomplete="off" autocorrect="off" maxlength="50">
</div>
