<div class="alerts control-group control-group-above">
    <label class="control-label"><%= i18n.alertControlControlledAlerts %></label>
    <select name="<%= names[0] %>"
            data-placeholder="<%= i18n.chooseAlerts %>"
            class="input-block-level"
            multiple>
    </select>
</div>

<div class="channels control-group">
    <label class="control-label"><%= i18n.streamChannels %></label>
    <select name="<%= names[1] %>"
            data-placeholder="<%= i18n.selectStreamChannels %>"
            class="input-block-level"
            multiple>
    </select>
</div>