<div class="alerts control-group control-group-above">
    <label class="control-label"><%= i18n.alertControlReceivedAlerts %></label>
    <select name="<%= names[0] %>"
            data-placeholder="<%= i18n.chooseAlerts %>"
            class="input-block-level"
            multiple>
    </select>
</div>

<div class="alerts control-group">
    <label class="control-label"><%= i18n.alertControlExpectedAlerts %></label>
    <select name="<%= names[1] %>"
            data-placeholder="<%= i18n.chooseAlerts %>"
            class="input-block-level"
            multiple>
    </select>
</div>
