<div class="grid-container">
    <div class="grid-content" style="overflow: hidden">
        <table>
            <thead>
                <th>
                    <div class="th">№</div>
                </th><th>
                    <div class="th"><%= i18n.date.ucFirst() %></div>
                </th><th>
                    <div class="th"><%= i18n.settingsField %></div>
                </th><th>
                    <div class="th"><%= i18n.settingOldValue %></div>
                </th><th>
                    <div class="th"><%= i18n.settingNewValue %></div>
                </th><th>
                    <div class="th"><%= i18n.user.ucFirst() %></div>
                </th><th>
                    <div class="th">IP</div>
                </th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>