<table class="table table-condensed notifications <% if (!items.length) { %> hidden<% } %>">
    <thead>
    <tr>
        <!--<th>#</th>-->
        <th><%= i18n.name.ucFirst() %></th>
        <th><%= i18n.switchState %></th>
        <th><%= i18n.addresses.ucFirst() %></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% _.each(items, function(n, index){
        print( tmplRow(_.extend({
            isActiveS: n.isActive ? i18n.notificationSwitchedOn : i18n.notificationSwitchedOff
        }, n)) );
    }) %>
    </tbody>
</table>

<p class="no-data<% if (items.length) { %> hidden<% } %>">
    <%= i18n.tableNoRecords %>
</p>