<% if(App.allowed('objects.status.edit')) {%>
    <div class="field no-label">
        <div class="select">
            <select name="objStatus"<% if(!App.allowed('objects.status.edit')) {%> disabled<% } %>>
            <% _.each(statuses, function(status, id){%>
            <option value="<%= id %>"<% if(id == selected) {%> selected<% } %>><%= status %></option>
            <% }) %>
            </select>
        </div>
    </div>
    <div class="tech-staff hidden"></div>
<% } else { %>
    <div class="text-center"><strong>
    <% _.each(statuses, function(status, id) {
        if(id == selected) { print(status) }
    }) %>
    </strong></div>
<% } %>
