<div class="grid-viewport">
    <div class="grid-content">
        <table width="100%" data-key="<%= alarms ? 'alarms' : 'alerts' %>">
            <thead>
                <th>
                    <div class="th"><%= i18n.timeOfCreation %></div>
                </th><th>
                    <div class="th"><%= i18n.timeOfReceive %></div>
                </th><th>
                    <div class="th"><%= i18n.alertCode %></div>
                </th><th>
                    <div class="th"><%= i18n[alarms ? 'alarm' : 'alert'].ucFirst() %></div>
                </th><th>
                    <div class="th"><%= i18n.objZoneKey %></div>
                </th><th>
                    <div class="th"><%= i18n.objZoneKeyName %></div>
                </th><th>
                    <div class="th"><%= i18n.objArea %></div>
                </th><th>
                    <div class="th"><%= i18n.objAreaName %></div>
                </th><th>
                    <div class="th"><%= i18n.inputStream %></div>
                </th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>