<div class="nav">
    <h3><%= i18n.alarmsWindow %></h3>
    <ul>
        <li>
            <a data-section="common" class="active" href="#"><%= i18n.commonAlertsSettings %></a>
            <a data-section="comments" href="#"><%= i18n.commentsList %></a>
            <a data-section="actions" href="#"><%= i18n.actionsList %></a>
        </li>
    </ul>
</div>
<div data-section="common" class="section active"></div>
<div data-section="comments" class="section section-grid"></div>
<div data-section="actions" class="section section-grid"></div>