<h3><%= i18n.commentsList %></h3>
<button class="btn btn-default btn-save"><%= i18n.saveChanges %></button>
<div class="grid comments-grid">
    <table class="dataTable display comments-table">
        <colgroup>
            <col />
            <col style="width: 100px" />
        </colgroup>
        <tbody class="comments-tbody"></tbody>
    </table>
</div>
<div class="footer">
    <a href="javascript:;" class="add-row-link"><%= i18n.addComment %></a>
    <a href="javascript:;" class="restore-defaults-link"><%= i18n.setDefaultComments %></a>
</div>