/* Notifications & Labels
=================================================================== */
.notification,
.notification-small {
  color: $white !important;
  text-shadow: none;
  @include border-radius(50em);

  &.red {
    // border-color: #FA5833;
    background-color: theme-color("danger");
  }
}

.notification {
  position: absolute;
  top: -12px;
  right: -12px;
  line-height: 16px;
  height: 16px;
  padding: 6px 10px;

  /*text-shadow: 0 1px hsla(0, 0%, 0%, 0.25);
  border-width: 1px;
  border-style: solid;*/
  // box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
}

.notification-small {
  padding: 2px 7px;
  // text-shadow: 0 1px hsla(0, 0%, 0%, 0.25);
  /*border-width: 1px;
  border-style: solid;*/
  // box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
}

/*.notification-small,
.notification {
  border-color: #2FABE9;
  background-color: #67C2EF;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(200, 80%, 82%)), color-stop(100%, hsl(200, 81%, 67%)));
  background-image: -webkit-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
  background-image: -moz-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
  background-image: -ms-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
  background-image: -o-linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
  background-image: linear-gradient(top, hsl(200, 80%, 82%), hsl(200, 81%, 67%));
}*/

/*.notification-small.green,
.notification.green {
  border-color: 	#5AAD34;
  background-color: 	#78CD51;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(101, 54%, 71%)), color-stop(100%, hsl(101, 55%, 56%)));
  background-image: -webkit-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
  background-image: -moz-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
  background-image: -ms-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
  background-image: -o-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
  background-image: linear-gradient(top, 	hsl(101, 54%, 71%), hsl(101, 55%, 56%));
}*/

/*.notification-small.yellow,
.notification.yellow {
  border-color: #F4A506;
  background-color: #FABB3D;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(40, 95%, 76%)), color-stop(100%, hsl(40, 95%, 61%)));
  background-image: -webkit-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
  background-image: -moz-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
  background-image: -ms-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
  background-image: -o-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
  background-image: linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
}*/

