@mixin text-trancate(){
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin box-sizing($box-sizing){
  -moz-box-sizing: $box-sizing;
  -webkit-box-sizing: $box-sizing;
  box-sizing: $box-sizing;
}

@mixin box-shadow($shadow...){
  box-shadow: $shadow;
}

@mixin border-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-radius: $radius;
  }
}

@mixin hover {
  // TODO: re-enable along with mq4-hover-shim
  //  @if $enable-hover-media-query {
  //    // See Media Queries Level 4: https://drafts.csswg.org/mediaqueries/#hover
  //    // Currently shimmed by https://github.com/twbs/mq4-hover-shim
  //    @media (hover: hover) {
  //      &:hover { @content }
  //    }
  //  }
  //  @else {
  // scss-lint:disable Indentation
  &:hover { @content }
  // scss-lint:enable Indentation
  //  }
}

@mixin hover-focus {
  &:focus,
  &:hover {
    @content
  }
}

@mixin transition($transition...) {
  @if $enable-transitions {
    @if length($transition) == 0 {
      transition: $transition-base;
    } @else {
      transition: $transition;
    }
  }
}

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  @include border-radius($border-radius);
}

// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($background, $border, $active-background: darken($background, 5%), $active-border: darken($border, 10%)) {
  background-color: $background;
  border-color: $border;
  @include box-shadow($btn-box-shadow);

  &:hover {
    @include color-yiq($background);
    background-color: $active-background;
    border-color: $active-border;
  }

  &:focus,
  &.focus {
    // Avoid using mixin so we can pass custom focus shadow properly
    box-shadow: $btn-box-shadow, 0 0 0 3px rgba($border, .5);
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    background-color: $background;
    border-color: $border;
  }

  &:active,
  &.active,
  .show > &.dropdown-toggle {
    background-color: $active-background;
    background-image: none; // Remove the gradient for the pressed/active state
    border-color: $active-border;
    @include box-shadow($btn-active-box-shadow);
  }

  &,
  &:hover,
  &:focus,
  &:active {
    @include color-yiq($background);
  }
}