.ritmVideo {
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  z-index: 1000;
  background-color: #ffffff;
}

#win-device-video.ritmVideo,
#jface.ritmVideo{
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  z-index: 10000;
}