<div class="pane-left<% if(leftClosed) {%> closed<% } %><% if(leftWidth < 450) {%> narrow<% } %>" style="width:<%= leftWidth %>px">
    <div class="tabs-hor-cont">
        <ul class="tabs-hor">
            <!--<li data-placeholder="1"></li>-->

            <li id="objects-tree" class="items-tree">
                <div class="tab-toggle-container hint hint-right" data-hint="<%= i18n[objType == 'stat' ? 'stationary' : 'vehicles'] %>">
                    <a class="tab-toggle" href="#<%= objType %>">
                        <svg class="svg-icon">
                            <use xlink:href="#smb-<%= objType == 'stat' ? 'home' : 'car' %>"></use>
                        </svg>
                        <span><%= i18n[objType == 'stat' ? 'stationary' : 'vehicles'].ucFirst() %></span>
                    </a>
                    <% if(App.hasModule('mobile') && App.hasModule('stat')) {%>
                    <div class="dropdown">
                        <a data-toggle="dropdown"><i class="caret"></i></a>
                        <ul class="dropdown-menu nav nav-list">
                            <li>
                                <a href="#mobile"><svg class="svg-icon">
                                    <use xlink:href="#smb-car"></use>
                                </svg> <%= i18n.vehicles %></a>
                            </li>
                            <li>
                                <a href="#stat"><svg class="svg-icon">
                                    <use xlink:href="#smb-home"></use>
                                </svg> <%= i18n.stationary %></a>
                            </li>
                        </ul>
                    </div>
                    <% } %>
                </div>
                <div data-placeholder="1"></div>
                <div data-placeholder="6"></div>
            </li>

            <li data-placeholder="7"></li><!-- guards -->
            <li data-placeholder="2"></li>
            <li data-placeholder="3"></li>
            <li data-placeholder="4"></li>
            <li data-placeholder="5"></li>
        </ul>
    </div>
    <a href="javascript:;" class="toggle-pane">
        <i class="svg-icon svg-icon-chevron-left"></i>
        <i class="svg-icon svg-icon-chevron-right"></i>
    </a>
</div><!--/.pane-left-->

<div class="pane-right" style="left:<%= leftClosed ? 0 : leftWidth %>px">
    <div class="pane-right-bottom<% if(rightBottomClosed) {%> closed<% } %><% if(rightBottomHidden) {%> hidden<% } %>"
         style="height:<%= rightBottomHeight %>px">
        <a href="javascript:;" class="toggle-pane">
            <i class="svg-icon svg-icon-chevron-up"></i>
            <i class="svg-icon svg-icon-chevron-down"></i>
        </a>
    </div>
    <div class="pane-right-top" style="bottom:<%= rightBottomHidden || rightBottomClosed ? 0 : rightBottomHeight %>px"></div>
</div><!--/.pane-right-->

<% if(dashboard) {%>
<div id="dashboard" class="<% if(!showDashboard) {%>invisible<% } %>">
<% } %>