<div class="jf-window modal ui-draggable jw-visible jw-active check-sound-modal" 
    id="audio-playback-firefox" 
    style="z-index: 999; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%)"
>
    <div class="jw-extra-l">
        <div class="jw-hdr modal-header">
            <h3><%= i18n.audioPlTitle %></h3>
            <div class="jw-controls"><a href="#" class="jw-close svg-icon svg-icon-circle-remove  check-sound-modal-close"></a></div>
        </div>
        <div class="jw-content modal-body">
            <ol>
                <li><%= i18n.audioPlFirefox1 %></li>
                <li><%= i18n.audioPlFirefox2 %></li>
            </ol>
        </div>
        <div class="jw-footer modal-footer">
            <div class="demo-close">
                <button class="btn jw-close check-sound-modal-close"><%= i18n.close %></button>
            </div>
        </div>
    </div>
</div>