<div class="dropdown module-settings add-on">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="svg-icon svg-icon-plus"></i>
    </a>
    <ul class="dropdown-menu nav nav-list" role="menu">
        <li class="add-zone"><a href="javascript:;" class="add-zone-radial"><%= i18n.addZone.radial %></a></li>
        <li class="add-zone"><a href="javascript:;" class="add-zone-polygon"><%= i18n.addZone.poly %></a></li>
        <li><a href="javascript:;" class="add-zone-group"><%= i18n.editGroup.add %></a></li>
    </ul>
</div>
