<div class="cell-row" style="left: <%= (20 * indent) %>px;" data-action="check">
    <% if(isgroup) { %>
        <% if(id == 0) { %><% } else if ( 'undefined' != typeof items && items.length ) { %>
            <i class="icon icon-exp toggle <%= closed ? 'collapse': 'expand' %>"></i>
        <% } else { %>
            <i class="icon icon-exp toggle"></i>
        <% } %>
    <% } else { %>
        <!--<i class="toggle"></i>-->
    <% } %>

    <% if (isgroup && ( 'undefined' == typeof items || !items.length )) { %>
        <i class="item-check-false"></i>
    <% } else { %>
        <i data-action="check" class="icon icon-check item-check<%= checked === 1 ? ' checked': (checked === 2 ? ' indeterminate': '') %>" ></i>
    <% } %>

    <% if(isgroup) { %>
        <strong class="row-title group-title" data-action="check"><%= name %></strong>
    <% } else { %>
        <span class="row-title item-title" data-grid-itemid="<%= id %>"><%= name %> (#<%= id %>)</span>
    <% } %>
</div>