<div class="auth-container reset-container hidden">
    <form class="auth-form reset-form" method="post" action="">
        <div class="box-header">
            <h2><%= i18n.resetPassword %></h2>
        </div>
        <div class="box-content">
            <div class="control-group no-margin">
                <label class="control-label">
                    E-Mail (<%= i18n.login %>)
                    <i class="svg-icon svg-icon-circle-info hint hint-top" data-hint="<%= i18n.resetPasswordHelpText %>"></i>
                </label>
                <input type="text" class="input-block-level" name="email" value="" maxlength="50" autocomplete="off">
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-block btn-primary" type="submit" disabled><%= i18n.resetPasswordCmd %></button>
        </div>
        <a class="extra-action login-link" href="#"><%= i18n.enterWithPass %></a>
    </form>
</div>